.swipe-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.buy-button {
  border-radius: 50%;
  height: 52px;
  width: 52px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe7489;
  opacity: 0.8;
}

.like-button {
  border-radius: 50%;
  height: 52px;
  width: 52px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #77dd77;
  opacity: 0.8;
}
