* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  /* font-family: var(--main-font); */
}
:root {
  --beige: #fdf9f1;
  --pink: #fd878e;
  --yellow: #ffde30;
  --green: #73d290;
  --logo-font: "MedievalSharp", sans-serif;
  --main-font: "Gabriela", sans-serif;
}
body {
  background-color: var(--beige);
}
