@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");

:root {
  --primary-color: #e4e4ce;
  --font-p: "Gabriela", serif;
}

.carrousel {
  height: 70vh;
  width: 100%;
}
.splide__track {
  height: 100%;
  width: 100%;
}
.userCarousel {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  padding: 0.5rem;
  background-image: url("/src/assets/images/userPic.png");
  background-position: center;
  background-size: 170%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.carouselDescription {
  height: 30%;
  border-radius: 36px;
  background-color: rgba(82, 82, 82, 0.7);
  backdrop-filter: blur(5px);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-p);
}
.titleDescription {
  font-size: 1.3rem;
  text-align: center;
  color: var(--primary-color);
}
.titrelieu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titrelieu > p {
  color: var(--primary-color);
  font-size: 0.9rem;
  text-align: center;
}
.titrelieu > p:first-child {
  width: 40%;
}
.titrelieu > p:last-child {
  width: 40%;
}
.userDescription {
  color: var(--primary-color);
  text-align: center;
}
