.cart-item-container {
  padding: 1rem;
}

.cartSection {
  height: 65vh;
  overflow-y: scroll;
}

.cart-item-profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-title {
  padding-left: 2rem;
}

.cart-item-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 1rem;
  margin: 0 1rem;
  padding-right: 1rem;
  background: linear-gradient(180deg, #ffa38d, #fe688b, #fe688b);
  /* background-color: var(--yellow); */
  border-radius: 8px;
  width: 100%;
}

.cart-item-name {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.cart-item-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.reject-button-cart {
  background-color: rgb(255, 125, 125);
  border-radius: 64px;
  height: 60px;
  width: 85px;
  transition: transform 0.2s ease-in-out;
}

.reject-button-cart:hover {
  background-color: rgb(255, 215, 215);
  transform: scale(1.1);
  cursor: pointer;
}

.cart-link {
  position: relative;
  display: inline-block;
}

.cart-icon {
  display: block;
}

.cart-number {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: var(--pink);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 1rem;
  line-height: 1;
  min-width: 20px;
  text-align: center;
  transform: translate(50%, -50%);
}
