.cart-item-container {
  padding: 1rem;
}

.cart-item-profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-title {
  padding-left: 3rem;
}

.cart-item-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 1rem;
  margin: 0 2rem;
  padding-right: 1rem;
  background-color: var(--yellow);
  border-radius: 8px;
  width: 100%;
}

.cart-item-name {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.cart-item-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.reject-button-cart {
  background-color: rgb(255, 125, 125);
  border-radius: 64px;
  height: 60px;
  width: 85px;
  transition: transform 0.2s ease-in-out;
}

.reject-button-cart:hover {
  background-color: rgb(255, 215, 215);
  transform: scale(1.1);
  cursor: pointer;
}
