.navbar {
  background-color: var(--beige);
}
.title-logo {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.title {
  font-family: "MedievalSharp";
}
.title-adopte {
  color: #ffa38d;
}
.title-un {
  color: #fe688b;
}
.title-gueux {
  color: #fd4845;
}
.separator {
  background-color: #2c2c2c;
  height: 2px;
  margin: 1rem 8rem;
}
