.navbar {
  background-color: var(--beige);
}
.title-logo {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.title {
  font-family: var(--logo-font);
}
.title-adopte {
  color: #ffa38d;
}
.title-un {
  color: #fe688b;
}
.title-gueux {
  color: #fd4845;
}
.separator {
  background-color: #2c2c2c;
  height: 1px;
  width: 80%;
  margin: 1rem auto 1.5rem auto;
}
